In [20]:
import pandas as pd
import os
in_dir = "/Users/franzliem/Desktop/adni/in"

In [22]:
#get_subject_ids
df = pd.read_excel(os.path.join(in_dir, "ADNI3_multishell_20190529_Julio.xlsx"))
hc = df.query("FinalDx=='CN'").SubjectID.tolist()
pat = df.query("FinalDx!='CN'").SubjectID.tolist()
print(len(hc), len(pat))

65 37

In [23]:
print(hc)

['067_S_2301', '067_S_4767', '067_S_6045', '067_S_4072', '007_S_5265', '007_S_4488', '007_S_4387', '067_S_4184', '067_S_6117', '007_S_6120', '023_S_4164', '023_S_4448', '036_S_6189', '007_S_4620', '007_S_4637', '007_S_1222', '941_S_5124', '007_S_6255', '007_S_6310', '037_S_6187', '037_S_6204', '941_S_1195', '007_S_6323', '007_S_6515', '007_S_6521', '023_S_6346', '023_S_6374', '023_S_6399', '023_S_6400', '023_S_6547', '024_S_6472', '094_S_6485', '941_S_6333', '941_S_6384', '941_S_6422', '941_S_6454', '941_S_6471', '941_S_6495', '941_S_6496', '941_S_6499', '941_S_6546', '036_S_4491', '037_S_6271', '067_S_2304', '067_S_6138', '067_S_6442', '067_S_6443', '128_S_0205', '341_S_6494', '941_S_4376', '941_S_6570', '941_S_6574', '941_S_6575', '941_S_6580', '941_S_6581', '024_S_5290', '067_S_4767', '037_S_4214', '007_S_5265', '007_S_4387', '007_S_4488', '007_S_4637', '007_S_4620', '007_S_6120', '341_S_6653']

In [24]:
print(pat)

['007_S_2394', '007_S_4272', '023_S_4115', '037_S_0377', '007_S_6341', '007_S_6421', '023_S_6334', '023_S_6356', '023_S_6369', '023_S_6535', '037_S_6216', '037_S_6222', '037_S_6230', '037_S_6377', '067_S_0059', '067_S_6474', '941_S_6345', '941_S_6392', '941_S_6052', '052_S_4944', '036_S_2380', '036_S_6231', '051_S_5285', '067_S_6529', '128_S_4742', '341_S_6605', '037_S_4030', '067_S_4782', '941_S_6068', '007_S_2394', '002_S_6652', '007_S_4272', '023_S_6661', '037_S_6083', '037_S_6620', '037_S_6627', '067_S_0056']

In [38]:
with open(os.path.join(in_dir,"subjects.txt")) as fi:
    s = fi.read()
s = s.split()
s = [x.strip("\n") for x in s]
subject_order = [f.split("/")[-2] for f in s]

In [41]:
df_subject_order = pd.DataFrame({"fullSubjectID": subject_order}).reset_index().rename(columns={"index": "order"})
df_subject_order.head()

   order  fullSubjectID
0      0   002_S_6652_1
1      1   007_S_1222_1
2      2  007_S_2394_10
3      3   007_S_2394_9
4      4  007_S_4272_10

In [42]:
df_full = pd.merge(df_subject_order, df, on="fullSubjectID", how="left").sort_values(by="order")

In [44]:
df_full.head()

,order,fullSubjectID,RID,SubjectID,Site,Sex,Age,FinalDx,FinalDx_to_number,VisitCode,...,MMSE_MMSCORE,CDR_CDGLOBAL,CDSOB,TOTSCORE,TOTAL13,MOCA,dwi,bval,bvec,mask
0,0,002_S_6652_1,6652,002_S_6652,2,F,86.4,MCI,2.0,ADNI Screening,...,29.0,NaN,2.5,10.67,16.67,26.0,OUTPUTTING,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,OUTPUTTING
1,1,007_S_1222_1,1222,007_S_1222,7,F,84.4,CN,1.0,ADNI3 Initial Visit-Cont Pt,...,29.0,0,0.0,10.33,16.33,24.0,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,COPYING FROM OTHER FOLDER,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...
2,2,007_S_2394_10,2394,007_S_2394,7,M,74.5,MCI,2.0,ADNI3 Year 1 Visit,...,28.0,-,1.0,7.67,10.67,27.0,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...
3,3,007_S_2394_9,2394,007_S_2394,7,M,73.5,MCI,2.0,ADNI3 Initial Visit-Cont Pt,...,30.0,0.5,1.0,11.33,14.33,22.0,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,COPYING FROM OTHER FOLDER,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...
4,4,007_S_4272_10,4272,007_S_4272,7,M,78.2,MCI,2.0,ADNI3 Year 1 Visit,...,27.0,NaN,3.0,14.67,23.67,17.0,OUTPUTTING,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,/ifs/loni/faculty/thompson/four_d/sthomopo/ADN...,OUTPUTTING

In [47]:
hc_ind = (df_full.FinalDx=="CN").values
hc_ind

array([False,  True, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True,  True, False,  True,
        True, False,  True, False, False,  True,  True,  True, False,
        True, False,  True,  True, False,  True,  True, False, False,
       False,  True, False,  True,  True, False, False, False,  True,
       False, False, False, False, False, False, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False, False,  True,  True, False,  True, False,  True,
        True,  True,  True, False, False,  True, False,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [48]:
pat_ind = (df_full.FinalDx!="CN").values
pat_ind

array([ True, False,  True,  True,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True, False, False,  True, False,
       False,  True, False,  True,  True, False, False, False,  True,
       False,  True, False, False,  True, False, False,  True,  True,
        True, False,  True, False, False,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False, False,  True, False, False, False, False,
       False,  True,  True, False, False,  True, False,  True, False,
       False, False, False,  True,  True, False,  True, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False])